.stat-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;
    background-color: rgba(251, 251, 251, 1);
    width: 220px;
    margin-left: auto;
    transform: translateX(5rem);

    .stat-box__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      margin: 20px;
      border-radius: 6px;
  
      &--calories {
        background-color: rgba(255, 0, 0, 0.07); 
      }
      &--proteines {
        background-color:rgba(74, 184, 255, 0.1); 
      }
      &--glucides {
        background-color:rgba(249, 206, 35, 0.1);
      }
      &--lipides {
        background-color:rgba(253, 81, 129, 0.1); 
      }
    }
  
    .info-gramme {
      font-size: 20px;
      font-weight: 700;
    }
  
    .info-type {
      font-size: 14px;
      font-weight: 500;
    }
  }

  @media screen and (max-width: 1024px) and (max-height: 780px) {
    .stat-box {
      width: 180px;
      transform: translateY(-1rem);
      flex-direction: column;
      padding: 5px;
  
      .stat-box__icon {
        margin: 2px;
        width: 50px;
        height: 50px;
        margin-top: -15px;
      }
  
      .info-gramme {
        font-size: 18px;
        margin-top: -5px; 
      }
  
      .info-type {
        font-size: 12px;
        margin-top: 0; 
      }
    }
  }
  
  