.PerformanceRadar {
    background-color: rgb(40, 45, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 5px;
    position: fixed;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  .col.w-25 {
    font-size: 9px;
    font-weight: 500;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  