.PerformanceRadar {
  background: #282d30;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 5px;
  width: 273px;
  height: 273px;
  margin: -273px 0 0 504px;
  box-sizing: border-box;

  .PolarAngleAxis {
    font: 500 9px 'Roboto', sans-serif;
    color: #fff;
  }
}

@media screen and (max-width: 1024px) and (max-height: 780px) {
  .PerformanceRadar {
    width: 200px;
    height: 200px;
    margin: -200px 0 0 450px; 
    transform: translateX(-130px);
  }
}