.custom-tooltip {
  background-color:rgba(255, 255, 255, 1) ;
  color: black;
  padding: calc(1px + 0px) calc(10px + 0px);
}
.lineChartWrapper {
  background-color:rgba(255, 0, 0, 1);
  border-radius: 5px;
}
.graphTracking {
  position: relative;
  margin-left: 200px;
  margin-top: 20px;
  height: 263px;
  width: 258px;
  h3 {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    left: 20px;
    font-family: "Roboto" sans-serif;
    color: rgba(255, 255, 255, 0.5);
  }
}
@media screen and (max-width: 1024px) and (max-height: 780px) {
  .graphTracking {
    width: 200px;
    height: 200px;
    transform: translateX(-90px);
  }
  
  h3 {
    font-size: 12px;
    left: 10px;
  }
}