
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.hello {
  text-align: center;
  font-size: 2rem;
  color: #4b4b4b;
  margin-bottom: 5rem;
  font-weight: 700;
  margin-top: 5rem;
}

.nav-class {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 4rem;
}

.nav-class ul {
  list-style-type: none;
  display: flex;
  gap: 5rem;
}


.nav-class .nav__item {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s ease;
}


.nav-class .nav__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ff6f61;
  z-index: -1; 
  opacity: 0.5;
}

.nav-class .nav__item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: gray;
  z-index: -2;
  opacity: 0.3;
}


.nav-class .nav__link {
  font-size: 1rem;
  font-weight: 600;
  color: #4b4b4b;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease;
  transform: translateX(50px);
}

.nav-class .nav__link:hover {
  color: #ff6f61;
}



