.score-chart {
  background: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;
  border-radius: 5px;
  width: 273px; 
  height: 273px;
  box-sizing: border-box;
  margin-left: auto; 
  margin-right: 0;   
  transform: translateX(-250px); 
  margin-top: -270px;
}

  .score-label {
    font: 900 14px 'Roboto', sans-serif;
    color: black;
    margin-top: -200px;
  }

  .dailyPerformance {
    font: 700 12px 'Roboto', sans-serif;
    color: black;
    text-align: center;

    .percentage {
      font-size: 20px;
      color: black;
      margin-top: -170px;
    }

    .subtext {
      font-size: 14px;
      color: black;
    }
  }

  .recharts-surface {
    display: flex;
    justify-content: center;
    align-items: center;
  }
